.todo-container {
    width: 600px;
    margin-inline: auto;
}

.todo-input {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    font-size: 1.2rem;
}

.todo-item {
    display: flex;
    gap: 0.5rem;
}

.todo-item {
    background-color: #efefef;
    border: 1px solid #efefef;
    border-radius: 6px;
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
}

.todo-item span[data-completed="true"] {
    text-decoration: line-through;
    color: #999;
}

.todo-item span[data-favorited="true"] {
    background-color: red;
}

.todo-item button {
    margin-left: auto;
}

.aggregation {
    padding-block: 1rem;
    display: flex;
    gap: 0.5rem;
}